body{
    background-color: #96a0a1;
    
}
h1{
    text-align: center;
    color: white;
}
h4{
    font-size: 16px;
    font-weight: 700;
    color: white;
}
header{
    padding: 20px 0 0 0;
    background: #082f4d;
    text-align: center;
}
@media (min-width:750px){
    header{
        text-align: left;
    }
}
.borrar-marco{
    background-color: #fbaf32;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;/*sin subrayado, ni tachado, ni decoracion alguna*/
    color: rgb(71, 71, 71);
    font-weight: bold;
}
ul{
    list-style: none;

}
.hero{
    background-image: url(../img/marco2.jpg);
    height: 551px;
}
.encabezado{
    margin: 30px 0; /*30 arriba y 0 a la derecha*/
    color: white;    
}
.submenu{
    position: relative;
}
.submenu #carrito{
    display: none;/*El valor display: none le dice al navegador que no lo represente; el resultado es que el elemento queda escondido y el espacio que debería ocupar colapsado.*/

}
.submenu:hover #carrito{/*Lo que hace de la propiedad hover una propiedad superutil es su facilidad para hacer cualquier función con tan solo pasar por encima del elemento al que se le aplica la propiedad.*/
    display: block;
    color: white;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background: #17181b;
    padding: 20px;
}
.vacio{
    padding: 10px;
    background-color: #fbaf32;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.button{
    background-color: #fbaf32;
    color: rgb(255, 255, 255);
}
.contenido-icono{
    margin-top: 80px;
    color: white;    
}
.contenido-icon form{
    position: relative;
    margin-bottom: 0;
}
.contenido-icon form #buscador{
    height: 50px;
    margin-bottom: 0;    
}
.contenido-icono form .submit-buscador{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;/*establece la tabulacion de la primera linea de texto*/
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
}
.barra{
    padding: 20px 0;
    background: #093450;
    background: -webkit-linear-gradient(left, #b95a00, 0%, #ad5400, 100%);
}
.barra p{
    margin: 0;
    color: white;    
}
.icono{
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
